@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: black;
    color: aliceblue;
}

.apresentacao {
    margin: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* AJUSTANDO O TAMANHO LIMITE DO CONTAINER TEXTUAL */

.apresentacao__conteudo { 
    width: 615px;
}

/* AJUSTANDO O TITULO DO CONTAINER TEXTUAL */

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.titulo-destaque {
    color: #22D4FD;
}

/* AJUSTANDO O TEXT DO CONTAINER TEXTUAL */

.apresentacao__conteudo__text {
    font-size: 24px;
}