@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: black;
    color: aliceblue;
}

.apresentacao {
    margin: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-destaque {
    color: #22D4FD;
}