@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: black;
    color: aliceblue;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* AJUSTANDO O TAMANHO LIMITE DO CONTAINER TEXTUAL */

.apresentacao__conteudo { 
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* AJUSTANDO O TITULO DO CONTAINER TEXTUAL */

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One';
}

.titulo-destaque {
    color: #22D4FD;
}

/* AJUSTANDO O TEXT DO CONTAINER TEXTUAL */

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat';
}

/* AJUSTANDO O SUBTITULO DO CONTAINER TEXTUAL */

.apresentacao__conteudo__subtitulo {
    font-weight: 400;
    font-size: 24px;
    font-family: 'Krona One';
}

/* AJUSTANDO OS BOTOES DO CONTAINER TEXTUAL */

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__item {
    /* background-color: #22D4FD; */
    color: #F6F6F6;

    width: 378px;
    font-size: 24px;
    padding: 21px 0px;
    
    border: 2px solid #22D4FD;
    border-radius: 8px;
    
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 600;
}